body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-size:15px;
	font-family:'Poppins', sans-serif;
	background:hsl(0, 0%, 98%);
}
h1,h2,h3{
	color:hsl(234, 12%, 34%);
}
p{
	color: hsl(229, 6%, 66%);
}
.bold{
	font-weight:600;
	
    line-height: 0;
    margin-bottom: 1.5em;
}
.top{
	font-weight:200;
}
.title{
	font-weight:600;
}
.container{
	width:90%;
	margin:4em auto;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

header{
	text-align:center;
	width: 90%;
	margin: auto;
}
.card{
	border-radius:5px;
	box-shadow: 4px 2px 8px hsla(229.1, 6.4%, 66.1%, 0.53);
	margin: .8em;
	padding: 1em;
	max-width:350px;
}

.supervisor{
	border-top:4px solid hsl(180, 62%, 55%);
	
}
.teamBuilder{
	border-top:4px solid hsl(0, 78%, 62%) ;
	
	
}


.karma{
	
	border-top:4px solid hsl(34, 97%, 64%) ;
	
	
}

.calculator{
	
	border-top:4px solid hsl(212, 86%, 64%);
	
}
.right{
	text-align:right;
	padding:10px;
}
footer{
	padding-bottom:2em;
}



@media(min-width: 1000px){
	
	header{
		width:40%;
	}
	h2{
		font-size:2em;
	}
	
	
	
	.flex-container{
		display:grid;
		grid-template-columns: auto auto auto auto;
		margin-top:2em;
		align-items:center;
		
	}
	.center-left {
	  grid-row-start: 1;
	  grid-row-end: 3;
	}
	.center-top {
	 
	  grid-column-start:2;
	  grid-column-end:3;
	}
	.center-right {
	  grid-row-start: 1;
	  grid-row-end: 3;
	  grid-column-start:3;
	  grid-column-end:3;
	}
	.center-bottom {
	  grid-row-start: 2;
	  grid-row-end: 3;
	  grid-column-start:2;
	  grid-column-end:3;
	}
	
}